footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(27, 27, 27);
    img{
        margin-right: 18px;
    }
}