footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(27, 27, 27);
    font-family: 'Raleway';
    a{
        font-size: 20px;
        font-weight: 400;
        margin-right: 18px;
        text-decoration: none;
        color: white;
        background-color: aqua;
        width: 200px;
        height: 40px;
        &:hover{
            color: #FF0000;
        }
    }
}