<section>
    <h2>OUR MENU</h2>
    <div>
        <img src="./assets/img/r1.png" alt="">
        <div class="dishNameLeft">
            <h3>Tonkasu Ramen</h3>
            <table class="dFlex">
                <tr>
                    <td>CHICKEN</td>
                    <td>11.95€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="dishNameRight">
            <h3>Spicy Miso Ramen</h3>
            <div class="dFlex">
                <table class="dFlex">
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
        <img src="./assets/img/r2.png" alt="">
    </div>
    <div>
        <img src="./assets/img/r3.png" alt="">
        <div class="dishNameLeft">
            <h3>Shio Ramen</h3>
            <div class="dFlex">
                <table class="dFlex">
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>