<div class="order">
    <h2>HOW TO ORDER</h2>
    <div class="howToOrderImgs">
        <div class="orderImgPosition">
            <img src="../../../assets/img/bowl_icon.jpg" alt="">
            <p>Pick Your Noodle</p>
        </div>
        <div class="orderImgPosition">
            <img src="../../../assets/img/broth_icon.png" alt="">
            <p>Pick Your Broth</p>
        </div>
        <div class="orderImgPosition">
            <img src="../../../assets/img/eggs_icon.jpg" alt="">
            <p>Add Your Toppings</p>
        </div>
    </div>
</div>
